* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    background-color: #1D5B79;
}

main {
    padding: 1rem;
}
.timer {
    color: #F1EFEF;
}
h1,
h2 {
    color: #F1EFEF;
}

h3 {
    padding-bottom: 2rem;
    color: #F1EFEF;
    font-size: 1.8rem;
}

button {
    padding: 16px 8px;
    width: 100%;
    margin-top: 12px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: #F3AA60;
    color: #f8f8f8;
}

.btn-disabled {
    background-color: #1D5B79;
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 9px 0;
    padding: 16px 8px;
    color: #F1EFEF;
    border: 1px solid #1D5B79;
}

.li-hover:hover {
    background-color: #F3AA60;
    border: #F3AA60;
    columns: #fff;
}

.li-selected {
    color: #fff;
    background-color: #F3AA60;
    border: #F3AA60;
}

.container {
    max-width: 740px;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.quiz-container {
    background-color: #EF6262;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 4px;
}

.container p {
    padding: 8px 0;
}


